@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #fffffff;
  box-sizing: border-box;
  color: #101828;
}

@keyframes animation_up {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@layer components {
  input::placeholder {
    @apply text-gray-200;
  }
  .screen-out {
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
  }
  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  /* icons */
  .bg-home.bg-active {
    background: url('../public/assets/css_sprites.png') -61px -134px;
  }
  .bg-home {
    width: 35px;
    height: 26px;
    background: url('../public/assets/css_sprites.png') -116px -134px;
  }

  .bg-pin {
    width: 34px;
    height: 33px;
    background: url('../public/assets/css_sprites.png') -129px -76px;
  }

  .bg-pin.bg-active {
    width: 25px;
    height: 32px;
    background: url('../public/assets/css_sprites.png') -186px -10px;
  }

  .bg-plus {
    width: 26px;
    height: 26px;
    background: url('../public/assets/css_sprites.png') -231px -57px;
  }

  .bg-plus.bg-active {
    background: url('../public/assets/css_sprites.png') -231px -103px;
  }

  .bg-logout {
    width: 31px;
    height: 31px;
    background: url('../public/assets/css_sprites.png') -10px -134px;
  }

  .bg-yellow_circle {
    width: 38px;
    height: 40px;
    background: url('../public/assets/css_sprites.png') -10px -10px;
  }

  .bg-red_circle {
    width: 38px;
    height: 40px;
    background: url('../public/assets/css_sprites.png') -68px -10px;
  }

  .bg-active_bell {
    width: 29px;
    height: 27px;
    background: url('../public/assets/css_sprites.png') -231px -10px;
  }

  .bg-fill-pin {
    width: 39px;
    height: 38px;
    background: url('../public/assets/css_sprites.png') -70px -74px;
  }

  .bg-bell {
    width: 24px;
    height: 24px;
    background: url('../public/assets/css_sprites.png') -186px -62px;
  }

  .bg-blue_thermo {
    width: 32px;
    height: 34px;
    background: url('../public/assets/css_sprites.png') -13px -77px;
  }

  .bg-red_thermo {
    width: 32px;
    height: 34px;
    background: url('../public/assets/css_sprites.png') -128px -13px;
  }

  .bg-search {
    width: 21px;
    height: 21px;
    background: url('../public/assets/css_sprites.png') -186px -106px;
  }

  /* icons sub */
  .bg-next {
    width: 17px;
    height: 16px;
    background: url('../public/assets/css_sprites_sub.png') -107px -47px;
  }

  .bg-remove {
    width: 12px;
    height: 12px;
    background: url('../public/assets/css_sprites_sub.png') -46px -106px;
  }

  .bg-history {
    width: 24px;
    height: 24px;
    background: url('../public/assets/css_sprites_sub.png') -63px -10px;
  }

  .bg-large {
    width: 17px;
    height: 17px;
    background: url('../public/assets/css_sprites_sub.png') -107px -10px;
  }

  .bg-small {
    width: 17px;
    height: 3px;
    background: url('../public/assets/css_sprites_sub.png') -107px -83px;
  }

  .bg-check {
    width: 12px;
    height: 12px;
    background: url('../public/assets/css_sprites_sub.png') -78px -106px;
  }

  .bg-prev {
    width: 16px;
    height: 16px;
    background: url('../public/assets/css_sprites_sub.png') -10px -106px;
  }

  .bg-search_black {
    width: 24px;
    height: 24px;
    background: url('../public/assets/css_sprites_sub.png') -10px -62px;
  }

  .bg-drop {
    width: 20px;
    height: 20px;
    background: url('../public/assets/css_sprites_sub.png') -54px -62px;
  }

  .bg-note {
    width: 33px;
    height: 32px;
    background: url('../public/assets/css_sprites_sub.png') -10px -10px;
  }
  /* anmiation */
  .animation-up-50 {
    animation: animation_up 0.5s;
    /* transition: opacity 0.2s ease-out 0s, transform 0.5s ease-out 0s; */
  }

  /* icons weather */
  .bg-rain {
    width: 20px;
    height: 21px;
    background: url('../public/assets/css_sprites_weather.png') -10px -71px;
  }

  .bg-thunder {
    width: 21px;
    height: 21px;
    background: url('../public/assets/css_sprites_weather.png') -70px -10px;
  }

  .bg-sun {
    width: 19px;
    height: 19px;
    background: url('../public/assets/css_sprites_weather.png') -50px -71px;
  }

  .bg-cloudy {
    width: 21px;
    height: 21px;
    background: url('../public/assets/css_sprites_weather.png') -111px -10px;
  }

  .bg-suncloudy {
    width: 20px;
    height: 21px;
    background: url('../public/assets/css_sprites_weather.png') -90px -71px;
  }

  .bg-bigsun {
    width: 40px;
    height: 41px;
    background: url('../public/assets/css_sprites_weather.png') -10px -10px;
  }
  .bg-car {
    width: 32px;
    height: 16px;
    background: url('../public/assets/car.png');
  }
  /* word spacing */
  .thin-word-space {
    word-spacing: -1.6px;
  }
  .semi-word-space {
    word-spacing: -1px;
  }
  .pointer-events-on {
    pointer-events: auto !important;
  }
}
